node_modules/
public/js
public/css
public/font-awesome
public/node_modules

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.clj-kondo
.lsp
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
